.f-container {
    width: 100%;
    min-width: 1024px
}

#component-admin-sidebar {
    width: 265px;
}

span.icon{
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
