.page-edit-product,
.page-create-product {
    display: flex;
    justify-content: space-between;
}

.layout-editing-sections {
    width: 70%;
    overflow-y: scroll;
    padding: 10px;
}

.layout-demo-product {
    width: 30%;
    min-width: 250px;
    padding: 10px;
}

.layout-top-right-box {
    display: flex;
}

.layout-demo-product .card-product {
    width: 230px;
    max-width: 230px;
    min-height: 420px;
    margin-right: 10px;
}

.layout-action-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.item-btn {
    display: inline-block;
    width: fit-content;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 4px;
    border: 2px solid;
    border-radius: var(--card-border-radius);
    background: white;
    cursor: pointer;
}

.item-btn:hover {
    background: #eee;
}
