.page-edit-product, .page-create-product {
    display: flex;
    justify-content: space-between;
}

.layout-editing-sections {
    width: 70%;
    overflow-y: scroll;
    padding: 10px;
}

.section {
    position: relative;
    width: 100%;
    padding: 15px;
    background: #bbb;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 200ms;
}

.section:hover {
    background: #999;
}

.open-section {
    background: #999;
}

.section .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.section-content {
    max-height: 0;
    margin: 10px 0;
    padding: 0 5px;
    overflow-y: scroll;
    transition: max-height 0.3s ease-out;
}

.form-update-product {
    margin-bottom: 20px;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-item .input-field {
    width: 100%;
}

.form-item label[for^="form-"] {
    display: inline-block;
    width: 15%;
    height: unset;
    margin-right: 10px;
    font-size: calc(1rem + 2px);
    text-align: right;
}

.form-item input,
.form-item textarea,
.form-item select,
.form-item option {
    height: calc(2rem + 6px);
    padding: 8px;
    outline-width: 0;
    border: none;
    border-radius: var(--border-radius);
    font-size: calc(1rem + 1px);
}

.form-item textarea {
    height: calc(4rem + 8px);
}

.form-item .select-multiple {
    max-height: 170px;
    border-radius: var(--border-radius);
    background: white;
    overflow-y: scroll;
}

.form-item .select-item {
    display: flex;
    height: calc(2rem + 6px);
    padding: 8px;
    font-size: calc(1rem + 1px);
}

.form-item .select-item:hover {
    background-color: #eee;
}

.form-item .select-item input[type="radio"] {
    height: unset;
    margin-right: 8px;
}

.form-item .select-item .label-radio {
    display: inline-block;
    width: 100%;
}

.form-item .btn-add {
    border-radius: 50px;
    background: #ccc;
    color: white;
    cursor: pointer;
}

.layout-btn-demo {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

.btn-add {
    margin-left: 10px;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: white;
}

table tr:hover {
    background: #ddd;
}

table th {
    background: #ddd;
}

table th,
table td {
    position: relative;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow-wrap: break-word;
}

table td .btn-remove {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-radius: 50px;
    background: white;
    color: white;
    cursor: pointer;
}

table tr:hover .btn-remove {
    color: #ddd;
}

.layout-demo-product {
    width: 30%;
    min-width: 250px;
    padding: 10px;
}

.layout-top-right-box {
    display: flex;
}

.layout-demo-product .card-product {
    width: 230px;
    max-width: 230px;
    min-height: 420px;
    margin-right: 10px;
}

.layout-action-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.item-btn {
    display: inline-block;
    width: fit-content;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 4px;
    border: 2px solid;
    border-radius: var(--card-border-radius);
    background: white;
    cursor: pointer;
}

.item-btn:hover {
    background: #eee;
}

.popup-demo-description {
    display: none;
    position: absolute;
    z-index: 25;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 720px;
    max-height: 95%;
    max-width: 700px;
    overflow-y: scroll;
}

.popup-demo-description .btn-close {
    padding: 6px;
    border: 1px solid black;
    border-radius: var(--border-radius);
    background: white;
    cursor: pointer;
}

.popup-demo-description .btn-close span {
    vertical-align: middle;
}

.popup-demo-description .btn-close span.icon {
    font-size: 20px;
}

.layout-demo-product-description {
    padding: 15px 10px;
    border-radius: var(--popup-border-radius);
    background: white;
}

.section-content.layout-variants .layout-list-product,
.section-content.layout-siblings .layout-list-product {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.layout-applied-data-checkbox .applied-data-field {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
}

.layout-applied-data-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    vertical-align: middle;
}

.layout-applied-data-checkbox .applied-data-label {
    vertical-align: middle;
}

.layout-checkbox {
    position: relative;
}

.layout-checkbox input[type="checkbox"] {
    position: absolute;
    right: 18px;
    top: 15px;
    width: 20px;
    height: 20px;
}
